.container{
    font-family: "Arial";
}
.text-content{

    width: 50%;

    padding: 39px;

    /* display: block; */

    margin: auto;
}
.paragraph{

    color: #112222a8;
}
.picture{

    width: 50%;
}
.title{

    font-size: 2em;

    font-weight: bold;
}
.normal{

    font-size: 1.5em;
}
.btn{
    position: relative;
    padding: 18px;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 20px;

}
@keyframes how{

    25%  {border-top:1px solid ;}
    50%  {border-right:1px solid ;}
    75%  {border-bottom:1px solid ;}
    100% {border:1px solid ;}
}
.btn:hover{
    background: white;
    color: black;
    transition: 0.6s;
    transform: translateX(10%);
    border: 2px solid;
    overflow: hidden;

}
.blue-btn{
    background: #18becc94;
}
.green-btn{
    background: #1fd61fb0;
}
.hr{
    border-bottom: 1px solid #3b422e8a;
}