.container{
    background: url("../Images/07-bg.jpg");
    width: 626px;
    height: 975px;
    margin: 12px auto;
    position: relative;
}
.logo{

    width: 80%;

    margin: auto;

    padding: 0px;
}
.logo img{
    width: 100%;
    animation: rotate 4s ease infinite;
}
.content{
    width: 80%;
    margin: auto;
}
.content p{
    color: #fff;
    font-size: 31px;
    font-family: cursive;
    text-shadow: 1px 1px 18px black;
    animation: color 4s ease infinite;
}
.content p span{
    color: #e9e985;
    font-size: 37px;
}
.see-more{
    text-align: center;
}
.see-more button{
    padding: 14px;
    font-size: 19px;
    color: #fff;
    background: #1f7fe4;
    border-radius: 48px;
    border: 6px solid white;
    box-shadow: 0 0 0 5px #1f7fe4;
    animation: scale 4s ease infinite;
}
.see-more button:hover {
    transform: scale(1.5);
    transition: 0.6s;
    cursor: pointer;
}
@keyframes color {
    0%   {color: yellow;}
    25% {color: white;}
    50%   {color: yellow;}
    75% {color: white;}
    100% {color: #FFEB3B;}
}
@keyframes rotate {
    0% {transform: rotate(-5deg);}
    25% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    75% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}
@keyframes scale {
    0% {transform: scale(1.2)}
    25% {transform: scale(1)}
    50% {transform: scale(1.2)}
    75% {transform: scale(1)}
    100% {transform: scale(1.2)}
}
.left{
    width: 30%;
    position: absolute;
    bottom: 0;
}
.right{
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
}